REPORT_DB_METADATA_URL=jdbc:postgresql://localhost:5432/report_engine
REPORT_DB_METADATA_USER=report
REPORT_DB_METADATA_PASSWORD=report
REPORT_ENGINE_PORT=8085
REPORT_AUTH_API_KEY=
REPORT_TEMPLATES_PATH=data/templates
REPORT_MAX_ROWS=50000
REPORT_DATASOURCE_PRINCIPAL_URL=jdbc:postgresql://localhost:5432/nome_banco
REPORT_DATASOURCE_PRINCIPAL_USER=postgres
REPORT_DATASOURCE_PRINCIPAL_PASSWORD=postgres
REPORT_DATASOURCE_PRINCIPAL_READONLY=true
